<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
<head>
  <title>Dogtastic | <%= yield(:title) %></title>
</head>
<body>
<h1>The best thing you can do for you dog</h1>
<p>
  Contact me: moneikmarie@gmail.com
</p>
</body>
</html>